<app-side-menu></app-side-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoris
    </ion-title>
    <ion-menu-button slot="end" class="side-menu-button"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment [(ngModel)]="selectTab" slot="fixed">
    <ion-segment-button value="all" (click)="saveTab('all')">
      <ion-label>Tout</ion-label>
    </ion-segment-button>
    <ion-segment-button value="recipe" (click)="saveTab('recipe')">
      <ion-label>Recette</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ingredient" (click)="saveTab('ingredient')">
      <ion-label>Ingredient</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar inputmode="search" animated debounce="800" [(ngModel)]="searchTerm"></ion-searchbar>

  <div *ngIf="selectTab === 'all'">

    <ion-item-divider>
      <ion-label>Recettes</ion-label>
    </ion-item-divider>
    
    <ion-list class="list">
      <ion-grid>
        <ion-row>
          <ion-col class="card-recipe" sizeXs="6" *ngFor="let recipe of recipeList | filter:searchTerm">
            <ion-card class="card" (click)="detailRecipe($event , recipe.recipeId)" *ngIf="recipe.isBookmarked">
              <ion-card-content>
                
                <ion-avatar>
                  <img src="./../../assets/images/plate.svg" alt="image indisponible">
                </ion-avatar>
                <ion-card-title ionButton class="ionCardTitle">{{ recipe.title }}</ion-card-title>

                <div *ngIf="connected">
                  <button class="alignBookmarkButtons" slot="end" (click)="bookmark($event , 'recipe' , recipe)">
                      <ion-icon class="bookmarkIcon" [ngClass]="{
                        bookmarked: recipe.isBookmarked == true,
                        notBookmarked: recipe.isBookmarked == false
                      }" name="heart-circle"></ion-icon>
                  </button>
                </div>

                <div *ngIf="recipe.expanded">
                  {{ recipe.ingredients_list }}
                </div>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-item-divider>
      <ion-label>Ingrédients</ion-label>
    </ion-item-divider>

    <ion-list class="list">

      <ion-grid>
        <ion-row>
          <ion-col sizeXs="6" *ngFor="let ingredient of ingredientList | filter:searchTerm">
            <ion-card class="card" (click)="detailIngredient($event , ingredient.ingredientId)" *ngIf="ingredient.isBookmarked">
              <ion-card-content>
                
                <ion-avatar>
                  <img src="{{ ingredient.image }}" alt="image indisponible">
                </ion-avatar>
                <ion-card-title ionButton class="ionCardTitle">{{ ingredient.product_name }}</ion-card-title>

                <div *ngIf="connected">
                  <button class="alignBookmarkButtons" slot="end" (click)="bookmark($event , 'ingredient' , ingredient)">
                      <ion-icon class="bookmarkIcon" [ngClass]="{
                        bookmarked: ingredient.isBookmarked == true,
                        notBookmarked: ingredient.isBookmarked == false
                      }" name="heart-circle"></ion-icon>
                  </button>
                </div>

                <div *ngIf="ingredient.expanded">
                  {{ ingredient.ingredient_text }}
                </div>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>


  <div *ngIf="selectTab === 'recipe'">

    <ion-list class="list">
      <ion-grid>
        <ion-row>
          <ion-col sizeXs="6" *ngFor="let recipe of recipeList | filter:searchTerm">
            <ion-card class="card" (click)="detailRecipe($event , recipe.recipeId)" *ngIf="recipe.isBookmarked">
              <ion-card-content>
                
                <ion-avatar>
                  <img src="./../../assets/images/plate.svg" alt="image indisponible">
                </ion-avatar>
                <ion-card-title ionButton class="ionCardTitle">{{ recipe.title }}</ion-card-title>

                <div *ngIf="connected">
                  <button class="alignBookmarkButtons" slot="end" (click)="bookmark($event , 'recipe' , recipe)">
                      <ion-icon class="bookmarkIcon" [ngClass]="{
                        bookmarked: recipe.isBookmarked == true,
                        notBookmarked: recipe.isBookmarked == false
                      }" name="heart-circle"></ion-icon>
                  </button>
                </div>

                <div *ngIf="recipe.expanded">
                  {{ recipe.ingredients_list }}
                </div>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </div>


  <div *ngIf="selectTab === 'ingredient'">

    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col sizeXs="6" *ngFor="let ingredient of ingredientList | filter:searchTerm">
            <ion-card class="card" (click)="detailIngredient($event , ingredient.ingredientId)" *ngIf="ingredient.isBookmarked">
              <ion-card-content>
                
                <ion-avatar>
                  <img src="{{ ingredient.image }}" alt="image indisponible">
                </ion-avatar>
                <ion-card-title ionButton class="ionCardTitle">{{ ingredient.product_name }}</ion-card-title>

                <div *ngIf="connected">
                  <button class="alignBookmarkButtons" slot="end" (click)="bookmark($event , 'ingredient' , ingredient)">
                      <ion-icon class="bookmarkIcon" [ngClass]="{
                        bookmarked: ingredient.isBookmarked == true,
                        notBookmarked: ingredient.isBookmarked == false
                      }" name="heart-circle"></ion-icon>
                  </button>
                </div>

                <div *ngIf="ingredient.expanded">
                  {{ ingredient.ingredient_text }}
                </div>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

  </div>

</ion-content>

