<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-router-link class="returnButton" (click)="goBack()" color="medium" target="_parent">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-router-link>
      <ion-title>Mot de passe oublié</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Formulaire d'inscription</ion-label>
    </ion-item>
  
    <ion-card-content>
      <form [formGroup]="forgotPasswordFormGroup">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input inputmode="email" type="email" required formControlName="emailControl" clear-input></ion-input>
        </ion-item>
        <div class="error" *ngIf="errorMessage.emailControl.errors?.required">Ce champ est requis</div>
        <div class="error" *ngIf="errorMessage.emailControl.errors?.email">L'email n'est pas valide</div>
        <div class="error" *ngIf="errorMessage.emailControl.errors?.pattern">L'email n'est pas bien formaté</div>
  
        <ion-item>
          <ion-button class="valButton" slot="end" color="tertiary" (click)="getNewPassword()" [disabled]="forgotPasswordFormGroup.invalid">Valider</ion-button>
        </ion-item>
      </form>

      <br>

      <div class="newPassword" *ngIf="newPassword !== ''">
          Votre nouveau mot de passe : {{ newPassword }}
      </div>

      <br>

      <a *ngIf="newPassword !== ''" mat-button color="primary" [routerLink]="['/login']">Veuillez retourner sur la page de connexion</a>
    </ion-card-content>
  </ion-card>
</ion-content>

